{% extends 'main.html' %}
{% block content %}
{% block title %} <title>Password reset complete | NovaMusic</title>{% endblock title %}

<style>
    h1 {
        color: white;
    }
    p {
        color: white;
    }    
</style>

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">Password reset complete</li>
                </ul>
            </div>
            <!-- end breadcrumb -->

            <!-- authorization form -->
            <div class="col-12">
                <div class="sign">
                    <br>
                    <h1>Password reset complete</h1>
                        <p>
                            Your password has been set. You may go ahead and log in now.
                        </p>

                        <span class="sign__text"><a href="{% url 'login' %}">Login</a></span>
                </div>
            </div>
            <!-- end authorization form -->
        </div>
    </div>
</main>
<!-- end main content -->
{% endblock content %}