{% extends 'main.html' %}
{% block content %}
{% block title %} <title>Enter new password | NovaMusic</title>{% endblock title %}

<style>
    input[type='text'],
    input[type='email'],
    input[type='password'] {
      min-width: 24rem;
      width: 100%;
      color: white;
      padding: 1.2rem 1.5rem;
      border-radius: 0.5rem;
      border: 2px solid #25a56a;
      transition: all 0.3s ease-in-out;
      background-color: var(--color-bg);
    }
    label{
        color: white;
    }
    ul{
        color: rgb(177, 177, 70);
    }
    .errorlist{
        color: red;
    }
    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active {
      outline: none;
      border: 2px solid #25a56a;
    }
</style>

<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">Enter new password</li>
                </ul>
            </div>
            <!-- end breadcrumb -->

            <!-- authorization form -->
            <div class="col-12">
                <div class="sign">
                    <div class="sign__content">
                        <form method="post" class="sign__form">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="sign__btn" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end authorization form -->
        </div>
    </div>
</main>
<!-- end main content -->
{% endblock content %}